### Series & DataFrame
판다스는 엑셀의 파이썬 버전이다.
엑셀은 표(table)형태 로 데이터를 저장합니다.
이표가 바로 판다스에서는 DataFrame입니다. Dataframe은 Series를 여러개 붙여서 만들어집니다.

In [2]:
import pandas as pd
import numpy as np

In [10]:
nums= [i for i in range(1,11)]
nums

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### Series 데이터를 생성하는 방법

In [11]:
seriesNums= pd.Series(nums)
seriesNums #rowname으로 인덱스가 생겼다.

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

 애꿎은 list를 Series로 만들어서 뭐하냐
 -> pandas의 다양한 기능을 사용할 수 있다.

In [12]:
seriesNums.mean()

5.5

In [13]:
seriesNums.describe()

count    10.00000
mean      5.50000
std       3.02765
min       1.00000
25%       3.25000
50%       5.50000
75%       7.75000
max      10.00000
dtype: float64

### DataFrame을 생성하는 방법

In [17]:
nums= [
    [1,2,3],
    [4,5,6],
    [7,8,9]
]
dfNums=pd.DataFrame(nums)
print(dfNums)

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

#### Series와 DataFame 관계
여러개의 Series를 합친게 DataFame이다.

In [18]:
print(type(dfNums))    #판다스의 데이터 프레임

<class 'pandas.core.frame.DataFrame'>

In [22]:
dfNums[0]

0    1
1    4
2    7
Name: 0, dtype: int64

In [23]:
type(dfNums[0]) # 판다스의 시리즈 형태 이것으로 시리즈가 모여 데이터 프레임을 이루는 것을 알 수 있다

pandas.core.series.Series

### DataFrame을 생성하는 다른 방법
 리스트 전달(위에서 했던 방식)

In [24]:
users= [
    ['철수', 180,5],
    ['민수', 170,5],
    ['짱구', 130,5],
]
users

[['철수', 180, 5], ['민수', 170, 5], ['짱구', 130, 5]]

In [29]:
df_users= pd.DataFrame(users)
df_users

    0    1  2
0  철수  180  5
1  민수  170  5
2  짱구  130  5

#### col의 name을 지정해주자

In [31]:
df_users.columns=['이름','키','나이']
df_users

   이름    키  나이
0  철수  180   5
1  민수  170   5
2  짱구  130   5

#### 딕셔너리로 전달되는 경우

In [33]:
users2=dict(
이름=['철수','민수','짱구'],
키=[180,170,130],
나이=[5,5,5])

In [39]:
df_users2= pd.DataFrame(users2)
print(df_users2)
print(df_users)          #애초에 딕셔너리 형태로 집어 넣으면 문제가 없다.

   이름    키  나이
0  철수  180   5
1  민수  170   5
2  짱구  130   5
   이름    키  나이
0  철수  180   5
1  민수  170   5
2  짱구  130   5

#### 리스트 in 딕셔너리 전달
실제 현업에서는 api요청의 결과로 이런 형식의 데이터 포맷으로 올 가능성이 크다.

In [41]:
users3=[
    dict(이름='철수',키=180,나이=5),
    dict(이름='민수',키=170,나이=5),
    dict(이름='짱구',키=130,나이=5),
]
users3

[{'이름': '철수', '키': 180, '나이': 5},
 {'이름': '민수', '키': 170, '나이': 5},
 {'이름': '짱구', '키': 130, '나이': 5}]

In [42]:
df_users3= pd.DataFrame(users3)
print(df_users3)

   이름    키  나이
0  철수  180   5
1  민수  170   5
2  짱구  130   5

## DataFrame의 행,열,인덱스

In [ ]:
sample= pd.read.csv("./내국인")