# 실습 1

### 데이터 입력

In [4]:
import numpy as np
blood=np.array(['A','B','B','A','A','O','AB','O','O','A','B','O','A','B','B','O','B','A','AB','B','A','AB','A','O','A','A','B','O','B','A','B','O'])
blood

array(['A', 'B', 'B', 'A', 'A', 'O', 'AB', 'O', 'O', 'A', 'B', 'O', 'A',
       'B', 'B', 'O', 'B', 'A', 'AB', 'B', 'A', 'AB', 'A', 'O', 'A', 'A',
       'B', 'O', 'B', 'A', 'B', 'O'], dtype='<U2')

### 데이터 나열

In [9]:
import pandas as pd
table= pd.crosstab(blood, colnames=['혈액형'], columns='freq')
table

혈액형    freq
row_0
A        11
AB        3
B        10
O         8

In [12]:
table=pd.crosstab(blood, colnames=["혈액형"], columns='freq')
table['relative ratio']=np.round(table.freq/sum(table.freq),2)
table

혈액형    freq  relative ratio
row_0
A        11            0.34
AB        3            0.09
B        10            0.31
O         8            0.25